
.topnav {
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  //padding:0 30px;
}


.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  & img{
    height: 22px;

  }
}


.active {
  background-color: white;
  //color: red!important;
}


.topnav .icon {
  display: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.innerContent{
  display: flex;
  flex-direction: column;
}
.buttons{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 15px;
  margin-bottom: 0!important;
  & h4{
    font-size: 16px;
  }
  & li{
    margin: 0 15px;
    list-style: none;
    &:hover{
      color: red;
    }
  }
}

.responsive {
  & .buttons {
    display: flex;
    flex-direction: column;
  }
}

.responsive.topnav li {
  display: block;
}
@media screen and (min-width: 900px) {
  .listContent {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #e6e6e6;
    width: 100%;
    z-index: 99999;
    left: 0;
    top: 55px;
    & .contentBlock:first-child a {
      color: black;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.topnav a:hover, .dropdown:hover .dropbtn {
  text-decoration: underline;
  color: red;
}


@media screen and (max-width: 900px) {
  .topnav li, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    padding: 0;

  }
}


@media screen and (max-width: 900px) {

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
